body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Roc Grotesk Wide';
  src: url('../assets/fonts/roc_grotesk_wide_bold-webfont.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/fonts/avenir_next-webfont.woff') format('woff');
  font-weight: normal;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.05rem;
}

h3 {
  font-size: 2.44rem;
}

h4 {
  font-size: 1.56rem;
}

h5 {
  font-size: 1.25rem;
}


.swiper-button-next,
.swiper-button-prev {
  color: #2C245B !important;
}

.swiper-pagination-bullet-active {
  background: #2C245B !important;
}

.staff__text {
  opacity: 0;
  transition: all ease 0.7s;
}

.staff-container:hover .staff__text {
  opacity: 1;
}

.underline-button {
  color:#1E174B;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;

}

.underline-button::before {
  content: '';
  background-color: #1E174B;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out
}

.underline-button:hover::before {
  bottom: 0;
  height: "100%";
  color: #fff;
}


/* Menu  */
.menu-item {
  transition: all 1s;
  position: relative;
}

.menu-item::after {
  content: "";
  width: 0;
  height: 1px;
  background: #1E174B;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: all 0.5s;
}

.menu-item:hover {
  font-weight: 600;
  transition: 0.4s ease all;
}

.menu-item:hover::after {
  width: 100%;
}

.menu-item.active::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #1E174B;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: all 0.5s;
}

.case-study-container:hover .menu-item::after {
  width: 100%;
}


/* Icons */
.contact-icon {
  font-size: 1.5rem;
  color: #1E174B;
} 

/* Header Images */
.header__image {
  clip-path: inset(100% 0 0 0);
  transition: clip-path 1s cubic-bezier(0.077, 0, 0.175, 1);
}

.header__image.is-reveal {
  clip-path: inset(0 0 0 0);
}

.lineChildren {
  transform: translate(0, 500px);
}

/* Social Icons */
.social-icon-light {
  font-size: 2rem;
    color: #fff;
}

/* Image Container */
.image-container {
  box-shadow: rgba(30, 23, 75, 0.2) 0px 7px 29px 0px;
  transition: all 2.5 ease;
}

.image-container:hover {
  box-shadow: rgba(30, 23, 75, 0.4) 0px 7px 29px 0px;
}

/* The Grind */
.case-study-container:hover .case-study-button {

}

/* Transitions */
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1E174B;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1E174B;
  transform-origin: top;
}

/* React Date Picker */
.react-datepicker-wrapper {
  
  border-bottom: 1px solid #000 !important;
  /* border-radius: 5px 5px 0 0; */
  /* height: 40px !important; */
  padding: 9.5px 16px !important;
  width: 100% !important;
  font-size: 1rem;
}

.react-datepicker__header {
  background-color: #1E174B !important;
  border-bottom: 1px solid #1E174B !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  border-top: none;
  border-bottom-color: #1E174B !important;
}

.react-datepicker__time-container {
  border-left: 1px solid #1E174B!important;
}

.react-datepicker__header {
  height: 60px !important;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 1rem !important;
  background-color: #1E174B !important;
  color: white !important;
}

.react-datepicker__navigation--previous {
  border-right-color: transparent !important;
} 

.react-datepicker__day--selected {
  border-radius: 1rem !important;
  border-bottom-color: #1E174B !important;
  color: white;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  border-bottom-color: #1E174B !important;
  color: white;
  font-weight: bold;
}

.react-datepicker__day:hover {
  border-bottom-color: #1E174B !important;
  border-radius: 1rem !important;
}

.react-datepicker {
  border: 1px solid #1E174B !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  border-bottom-color: #1E174B !important;
  color: white;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #1E174B !important
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  
  color: #fff !important;

}

.react-datepicker__day-names {
  display: none;
}

.react-datepicker__month-select {
  background: #1E174B !important;
  color: #fff
}

.react-datepicker__year-select {
  background: #1E174B !important;
  color: #fff
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  /* background: #1E174B !important; */
}

/* .react-player {
  padding-top: 56.25%; 
  position: relative; 
}

.react-player > div {
  position: absolute; 
} */
