* {
  cursor: url('../assets/Duma-Africa.png') 14 15, auto;
}

.app-cursor {
    z-index: 1000;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #1d1749;
    border: 1px solid #fff;
    pointer-events: none; 
    transform: translate3d(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    transition: width 1000ms, height 1000ms;

    @media (max-width: 768px) {
      display: none;
    }
  
    transform: translate(-50%, -50%);
    pointer-events: none; 
    transition: width 1000ms, height 1000ms;
  }

