body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #1E174B;;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none; 
  transition: width 1000ms, height 1000ms;
}

.cursor.large {
  height: 70px;
  width: 70px;
}